  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">MyApp</h1>
      <h3 class="mb-5">
        <em>Um formulário para cadastrar usuários</em>
      </h3>
      <h5><em>By: Ítalo Magalhães<br> Contact: italo.ufsj@gmail.com</em></h5>
      <a class="btn btn-primary btn-xl js-scroll-trigger mt-4" href="admin/formularios">Cadastrar</a>
    </div>
    <div class="overlay"></div>
  </header>